<section id="meet" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Meet our Physical Therapy Team</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="scott.html">
                <img class="img-portfolio img-responsive" src="img/meet-scott.jpg" >
              </a>
              <p class="lead" style="margin-top: 15px;"  >Meet Physical Therapist, </br> Scott Campbell</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="staff.html">
                <img class="img-portfolio img-responsive" src="img/meet-staff.gif">
              </a>
              <p class="lead" style="margin-top: 15px;"  >Meet our enthusiastic staff, </br> Cristina and Tiffany</p>
            </div>
          </div>
          
        </div>
        <!-- /.row (nested) -->
        
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
